.row
  .col-md-5
    %h1.m-t-2.text-xs-center
      = @employee
      %small.text-muted
        = @employee.client.name
        = link_to fa_icon("pencil"), [:edit, @employee.client, @employee]

    %h2.text-xs-center= @employee.ife
    %h2.text-muted.text-xs-center Documentación
    .list-group
      = render @client.attachments

  .col-md-5
    %h1.m-t-2.text-xs-center.text-muted Tickets
    .list-group
      = render @employee.tickets



