= simple_form_for @user do |f|
  = f.input :username, label: false, placeholder: "Usuario"
  = f.input :email, label: false, placeholder: "Correo electr칩nico"
  = f.input :password, label: false, placeholder: "Contrase침a"
  = f.input :password_confirmation, label: false, placeholder: "Confirmaci칩n de contrase침a"
  = f.button :submit, "Crear nueva cuenta", class: "btn-block btn-primary"
