%h1.m-t-2.text-xs-center
  = @company.name
  %small.text-muted
    = @client.name
    = link_to fa_icon("pencil"), [:edit, @company, @client]

.row
  .col-md-3
    .list-group
      = render @company.clients
  .col-md-6
    %h2.text-muted.text-xs-center Expedientes
    = render "layouts/shared/alert_messages"
    = link_to "Ingresar nuevo expediente", [:new, @client, :employee],
      class: "btn btn-outline-primary btn-block m-t-1"
    = render @client.employees



