%h1.m-t-2.text-xs-center
  = @client.name
  = link_to fa_icon("pencil"), [:edit, @company, @client]
%h2.m-b-1.text-muted.text-xs-center
  = @company.name

.row
  .col-md-5
    .list-group
      = render @company.clients
    %h2.text-muted.text-xs-center.m-t-1 Documentación
    .list-group
      = render @client.attachments

  .col-md-7
    %h1.text-muted.text-xs-center Expedientes
    = render "layouts/shared/alert_messages"
    = link_to "Ingresar nuevo expediente", [:new, @client, :employee],
      class: "btn btn-outline-primary btn-block m-t-1"
    = render @client.employees



